@import "./reset.scss";

*,*:after,*:before{box-sizing:border-box;}

html {
  background-color: $color-bg;
}

body {
  @include font-normal;
  color: $color-fg;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

a {
@include font-normal;
color: $color-text-alt;
font-size: 1.6rem;
display: inline-block;
width: max-content;
text-decoration: none;

&:hover {
color: $color-accent;
}
}

h1,h2,h3,h4,h5,h6 {
@include font-big;
}

h1 {
margin-bottom: 80px;

font-size: 2.4rem;
}

h2 {
font-size: 2.5rem;
margin-bottom: 40px;
margin-top: 30px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

img {
display: block;
width: 100%;
height: 100%;
}



.text-container {
display: block;
margin: 0 auto;
width: 100%;
max-width: 1280px;
font-size: 1.6rem;


ul {
    margin-top: 30px;
}

li {
    margin-bottom: 30px;
}

.big-link {
    @include font-big;
    font-size: 1.6rem;
    margin-bottom: 5px;
}
}