<template>
  <footer>
    <div class="legal">
      <nuxt-link to="/impressum">Impressum</nuxt-link>
      <nuxt-link to="/datenschutz">Datenschutz</nuxt-link>
    </div>
    <a href="mailto:kontakt@joshuastuebner.com">kontakt[at]joshuastuebner.com</a>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  margin-top: 100px;

  a {
    @include font-big;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
</style>
