<template>
  <div class="layout">
    <nuxt-link to="/" class="logo">
      <svg viewBox="0 0 224 226" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M127 0H123V31.8718C119.083 31.2975 115.076 31 111 31C74.0627 31 42.8298 55.4223 32.5678 89H0V93H31.4561H35H35.5875C44.419 59.6121 74.8351 35 111 35C154.078 35 189 69.9218 189 113C189 152.69 159.355 185.456 121 190.365V194.396C121 194.396 121 194.396 121 194.396V226H125V193.81C163.618 187.166 193 153.514 193 113C193 105.379 191.96 98.0011 190.015 91H224V87H189V87.631C179.922 59.7005 156.259 38.3474 127 32.5602V0ZM115 69H106V158H115V69Z"
        />
      </svg>
    </nuxt-link>
    <main>
      <nuxt />
    </main>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/Footer'

export default {
  components: {
    Footer
  }
}
</script>


<style lang="scss">
main {
  flex: 1 0 auto;
}

.logo {
  display: block;
  width: 250px;
  margin: 80px auto 40px;
  fill: $color-accent;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.3));
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  padding: 0 3vw;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 0 5vw;
  }
}
</style>
