<template>
  <section class="text-container">
    <div>
      <h1 class="title">1aus2 Hub</h1>
      <ul>
        <li>
          <a class="big-link" href="https://1aus2.de/photos">Fotografie</a>
          <p>Ein paar meiner Fotos.</p>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  components: {}
}
</script>

<style>
</style>
